body{
	background: #F5F5F5;
}
.MainContainer{
	max-width: 1200px;
	margin: 20px auto;
	background: #FFF;
	box-shadow: 0px 0px 1px #CCC;
	font-size: 14px;
}
.qideBox{
	padding: 20px;
	line-height: 35px;
	border-bottom: #EEE solid 1px;	
}
.qideBox a{
	color: #888;
}
.FormBox{
	padding: 30px 60px;
}
.FormBox dl{
	display: table;
	width: 100%;
}
.FormBox dl dt,.FormBox dl dd{
	display: table-cell;
	vertical-align: middle;
}
.FormBox dl dt{
	width: 70%;
}
.FormBox dl dt input[type=text]{
	border: #CCC solid 1px;
	width: 96%;
	height: 35px;
	line-height: 35px;
	text-indent: 15px;
	outline: none;
}
.FormBox dl dd select{
	height: 35px;
	border: #CCC solid 1px;
	outline: none;
	padding: 0 5px;
}
.FormBox .ueditor{
	margin: 20px 0px 5px 0px;
}
/***/
.uploadImg ol{
	line-height: 35px;
	font-size: 16px;
}
.uploadImg li{
	width:80px;
	border:#DDD dotted 1px;
	text-align: center;
	padding: 15px 0;
	background: #FFF;
	font-size:32px;
	cursor: pointer;
	color: #999;
}
.uploadImg li:hover{
	border: #F60 dotted 1px;
	color: #F60;
}
/*****/
.FormBox .ListImgs:after{
	content: '';
	display: block;
	clear: both;
}
.FormBox .ListImgs div{
	width:80px;
	float: left;
	position: relative;
	margin: 10px 10px 0 0;
}
.FormBox .ListImgs div span{
	display: block;
	position: relative;
	background: #FFF;
	box-shadow: 0px 0px 1px #BBB;
}
.FormBox .ListImgs div span:before{
	content: '';
	display: block;
	padding-top: 100%;
}
.FormBox .ListImgs div span img{
	position:absolute;
	max-width:100%;
	max-height: 100%;
	left:50%;
	top: 50%;
	border:0;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
} 
.FormBox .ListImgs div em{
	position: absolute;
	width:25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background:rgba(120,120,120,0.6);
	color: #FFF;
	right: 0px;
	top:0px;
	cursor: pointer;
}
.FormBox .ListImgs div em:hover{
	background:rgba(255,60,0,0.6);
}
.button{
	text-align: right;
	padding: 10px 0;
}
.button button{
	background: #32A5E7;
	padding: 8px 15px;
	color: #FFF;
	border: none;
	border-radius: 3px;
	font-size:18px;
	cursor: pointer;
}
.button button:hover{
	background: #F60;
}
