/*
*初始化样式
*/
body, form, ul, li, p, dl, dd, dt ,h,td,th,h3{
    margin: 0;
    padding: 0;
}
body{
    font-size:14px;
    background:url(bg-left.png) right repeat-y;
    width:100%;
    SCROLLBAR-FACE-COLOR: #60B7DE;
    SCROLLBAR-HIGHLIGHT-COLOR: #eee;
    SCROLLBAR-SHADOW-COLOR: #eee;
    SCROLLBAR-3DLIGHT-COLOR: #eee;
    SCROLLBAR-ARROW-COLOR: #eee;
    SCROLLBAR-TRACK-COLOR: #B9D5F2;
    SCROLLBAR-DARKSHADOW-COLOR: #1A5DB0;
    SCROLLBAR-HIGHLIGHT-COLOR: #1A5DB0;
}
li,ul{
    list-style: none;
}
TD {
    color: #333333;
    VERTICAL-ALIGN: top;
}
input,textarea{
    border:1px solid #ccc;
}
a {
    color:#333;
}
a:link {
    color:#333333;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: underline;
    color: #4E667B;
}
a:active {
    text-decoration: none;
}
/*
*菜单样式
*/
#leftmenu{padding:10px 0 10px 0;}
.left-nav{position:relative;}
.left-nav .left-bgtop{position:absolute; top:0; left:0; background:url('bg-top.png') no-repeat; width:100%; height:8px;}
.left-bgbottom{position:fixed; bottom:0; left:0; background:url('bg-bot.png') center bottom no-repeat; width:100%; height:8px;}
.left-nav .info .cont .dropDown i{float:left; background:url('dropUp.png') 0 10px no-repeat; width:9px; height:25px;}
.left-nav .info .cont .dropUp i{float:left;  background:url('dropDown.png') 0 10px no-repeat; width:9px; height:25px;}
#leftmenu .info{margin-top:20px; padding-bottom:10px; border-bottom:1px solid #14a3c9; font-size:12px;}
#leftmenu .info .head,#leftmenu dl dt{margin-bottom:10px;
    height:29px;
    overflow:hidden;
    line-height:30px;
}
.left-nav .info .head i{float:left;width:32px; height:24px; margin-left:20px; background:url('all-bg.png') -5px -11px no-repeat;}
.left-nav .info .head span,#leftmenu dl dt span{font-size:14px;display:block;padding-left:65px;font-weight:bold;color:#fff;}
#leftmenu dl dt span{padding-left:50px;}
#leftmenu dl{padding-bottom:0px; padding-top:10px; border-top:1px solid #05576d;border-bottom:1px solid #14a3c9;}
#leftmenu dl dt{position:relative;}
#leftmenu dl dt span{cursor:pointer;}
#leftmenu dl dt span:before{content:''; position:absolute;left:20px;top:0; width:32px; height:24px; background:url('all-bg.png') -8px -143px no-repeat;}
#leftmenu .info .cont,#leftmenu dl dd{
}
#leftmenu dl dd{
    display:none;padding-bottom:15px;
}
/* #leftmenu dl dd.otherNav{padding-left:20px;} */
#leftmenu dl.show dd{
    display:block;
}
#leftmenu .info .cont div{
    height:25px;
    line-height:25px;
    padding-left:20px;
    color:#fff;
}
.left-nav .info .cont div.last-func{padding-left:10px;}
#leftmenu .info .cont div a{display:inline-block; padding-right:10px; color:#fff;}
#leftmenu .info .cont div span{padding-left:20px;}
#leftmenu dl dd td{
    font-size:12px;
    line-height:25px;
    padding-left:20px;
    color:#fff;
}
#leftmenu dl dd td span{display:inline-block; height:14px; width:1px; margin: 0 7px; background-color:#fff; vertical-align: middle;}
#leftmenu dl dd td a{display: inline-block; color: #fff; vertical-align: middle;}