.ListPicTable td{
	border-bottom:#DDD dotted 1px;
	vertical-align:middle;
}
.ListPicTable td.img{
	padding:10px;
}
.ListPicTable td.img div{
	width:120px;	
	height:90px;
	overflow:hidden;
	margin:auto;
	border:#DDD solid 1px;
}
.ListPicTable td.img div a{
	display:block;
	width:240px;
	text-align:center;
	margin-left:-60px;
}
.ListPicTable td.word{
	width:40%;	
}
.ListPicTable td.word .title{
	height:25px;
	line-height:25px;
	overflow:hidden;
}
.ListPicTable td.word .title span{
	font-size:14px;
	font-weight:bold;
	color:#369;
}
.ListPicTable td.word .more{
	line-hegiht:20px;
	height:20px;
	overflow:hidden;
	color:#666;
}
.ListPicTable td.word .more span{
	color:#F60;
}
.ListPicTable td.word .butter{
	padding:10px 50px 5px 0;
	text-align:right;
}
.ListPicTable td.word .butter a{
	border:#DDD solid 1px;
	padding:7px 5px 2px 5px;
}
.ListButs,.ShowPage{
	text-align:center;
	padding:10px 0 10px 0;
}
.ShowPage a{
	border:#DDD solid 1px;
	padding:3px 5px 2px 5px;
	color:#888;
}