.MainContainer{
	max-width: 640px;
	margin: auto;
	background: #F5F5F5;
	overflow: hidden;
}
/***/
.SearchBox{
	padding: 10px 10px 0 10px;
}
.SearchBox ul{
	display: table;
	width: 100%;
	background: #FFF;
	border-radius: 5px;
}
.SearchBox ul ol,.SearchBox ul li{
	display: table-cell;
	vertical-align: middle;	
}
.SearchBox ul li{
	width:35px;
}
.SearchBox ul li button{
	width:100%;
	height: 35px;
	border: 0px;
	background: none;
	outline: none;
	font-size:20px;
	color: #AAA;
}
.SearchBox ul ol{
	padding-left: 5px;
}
.SearchBox ul ol input{
	width: 100%;
	border: 0px;
	line-height: 35px;
	outline: none;
	text-indent: 5px;
}
/***/
.HotGroupBox{
	margin-top: 10px;
	background: #FFF;
}
.HotGroupBox .head{
	line-height: 40px;
	font-size: 20px;
	padding-left: 10px;
}
#ListGroup{
	height:200px;
	margin: 0px 10px;
	overflow:hidden;
	position:relative;
}
#ListGroup ul{
	/*height:200px;
	position:absolute;
	left:0;
	top:0;*/
	width:100%;display: inline;white-space: nowrap;overflow-x:scroll;float:left;overflow-y:hidden
}
#ListGroup ul li{
	/*height:200px;
	width:160px;
	overflow: hidden;
	margin-right: 10px;
	float:left;*/
	display:inline-block;width:200px;height:160px;margin:0 5px;
}
#ListGroup ul li span{
	display: block;
	padding-top: 100%;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
#ListGroup ul li span img{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
}
#ListGroup ul li em{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	overflow: hidden;
	color: #666;
}
/****/
.MainAction{
	margin-top: 10px;
	background: #FFF;
	padding: 20px 0;
}
.MainAction ul{
	display: table;
	width: 100%;
}
.MainAction ul ol,.MainAction ul li{
	display: table-cell;
	width: 50%;
}
.MainAction ul a{
	display: block;
	width: 70%;
	margin: auto;
	text-align: center;
	line-height: 50px;
	background: #309DF2;
	color: #FFF;
	font-size: 20px;
	border-radius: 5px;
}
.MainAction ul ol{
	border-right: #EEE solid 1px;
}
.MainAction ul li a{
	background: #41CD9E;
}
/*****/
.ShowContentType{
	margin-top: 10px;
	background: #FFF;
}
.ShowContentType .tags{
	height: 50px;
	line-height: 50px;
	position: relative;
}
.ShowContentType .tags:before{
	content: '';
	display: block;
	position:absolute;
	width:100%;
	height: 1px;
	background: #EEE;
	left: 0px;
	bottom: 0px;
}
.ShowContentType .tags span{
	display: block;
	width:33.33%;
	text-align: center;
	float: left;
	overflow: hidden;
	position: relative;
}
.ShowContentType .tags span.ck{
	color: #1FB582;
}
.ShowContentType .tags span.ck:after{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background: #1FB582;
	left: 0px;
	bottom: 0px;
}

.Contents:after{
	content: '';
	display: block;
	clear: both;
}
.Contents .lists{
	border-bottom: #EEE solid 1px;
	padding-bottom: 5px;
}
.Contents .lists ul{
	display: table;
	width:96%;
	margin: 15px auto 10px auto;
}
.Contents .lists ul li{
	display: table-cell;
	vertical-align: middle;
}
.Contents .lists ul li.img{
	width: 50px;
	padding-right: 10px;
}
.Contents .lists ul li.img a{
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
}
.Contents .lists ul li.img img{
	width: 50px;
	height: 50px;
}
.Contents .lists ul li.more{
	text-align: right;
}
.Contents .lists ul li.more span{
	display: inline-block;
	line-height: 30px;
	padding: 0 5px;
	background: #F90;
	color: #FFF;
	border-radius: 5px;
}
.Contents .lists ul li.info span,.Contents .lists ul li.info em{
	display: block;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}
.Contents .lists ul li.info em{
	color: #888;
	font-size:14px;
}
.Contents .lists dl dt{
	padding: 0px 6px;
}
.Contents .lists dl dd{
	padding: 0 5px;
}
.Contents .lists dl dd:after{
	content: '';
	display: block;
	clear: both;
}
.Contents .lists dl dd div{
	width:33.33%;
	overflow: hidden;
	float: left;
}
.Contents .lists dl dd div span{
	display: block;
	margin:5px;
	position: relative;
}
.Contents .lists dl dd div span:before{
	content: '';
	display: block;
	padding-top: 75%;
}
.Contents .lists dl dd div span img{
	position: absolute;
	width:100%;
	height: 100%;
	left: 0px;
	top:0px;
}
.Contents .lists .others{
	line-height: 30px;
	color: #AAA;
	padding-left: 5px;
}
.Contents .lists .others i:before{
	margin-right: 3px;
}
.Contents .lists .others em{
	display: inline-block;
	margin-left: 10px;
}
/*****/
.Contents .imgs{
	width:50%;
	padding-top: 10px;
	float: left;
	overflow: hidden;
}
.Contents .imgs span,.Contents .imgs em{
	display: block;
	margin: 0 5px;
	position: relative;
	overflow: hidden;
}
.Contents .imgs span:before{
	content: '';
	display: block;
	padding-top: 75%;
}
.Contents .imgs span img{
	position: absolute;
	width:100%;
	height: 100%;
	left: 0;
	top:0;
}
.Contents .imgs em{
	height: 25px;
	line-height: 25px;
	color: #999;
	font-size:14px;
}
/*****/
.Contents .shops{
	width:50%;
	padding-top: 10px;
	float: left;
	overflow: hidden;
}
.Contents .shops a{
	display: block;
	margin: 0 5px;
	background: #F5F5F5;
	padding-bottom: 5px;
}
.Contents .shops a span{
	display: block;
	position: relative;
	padding-top: 75%;
	margin-bottom: 5px;
}
.Contents .shops a span img{
	position: absolute;
	width:100%;
	height: 100%;
	left: 0px;
	top:0px;
}
.Contents .shops a em,.Contents .shops dl{
	display: block;
	height:25px;
	line-height: 25px;
	padding: 0 5px;
	overflow: hidden;
	font-size:14px;
}
.Contents .shops dl dt{
	float:left;
	color: #F60;
	font-size:18px;
}
.Contents .shops dl dd{
	float: right;
	color: #999;
	text-decoration:line-through;
}
.ShowMores{
	padding: 20px;
}
.ShowMores span{
	display: block;
	text-align: center;
	line-height: 50px;
	background: #E9EBED;
	color: #999;
	font-size:20px;
	border-radius: 5px;
}
/*****/
.ListBox{
	background: #FFF;
	padding: 15px 10px;
	border-bottom: #EEE solid 1px;
	position: relative;
	z-index: 1000;
}
.ListBox .list ul{
	display: table;
	width:100%;
}
.ListBox .list ul li{
	display: table-cell;
	vertical-align: middle;
}
.ListBox .list ul li.img{
	width:120px;
}
.ListBox .list ul li.img a{
	display: block;
	width:120px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}
.ListBox .list ul li.img a:before{
	content: '';
	display: block;
	padding-top: 100%;
}
.ListBox .list ul li.img a img{
	position: absolute;
	width:100%;
	height: 100%;
	left: 0;
	top:0;
}
.ListBox .list ul li.join{
	width:60px;
}
.ListBox .list ul li.join dl{
	position: relative;
}
.ListBox .list ul li.join dl dd{
	position: absolute;
	width: 100%;	
	left: 0;
	top:40px;
	display: none;	
}
.ListBox .list ul li.join dl dd em{
	display: block;
	text-align: center;
	height: 11px;
	line-height: 11px;
	color: #999;
}
.ListBox .list ul li.join dl dd div{
	width:100%;
	border: #DDD solid 1px;
	border-radius: 10px;
	overflow: hidden;
	background: rgba(255,255,255,0.9);
}
.ListBox .list ul li.join dl dd a{
	display: block;
	line-height: 35px;
	text-align: center;
	border-bottom: #DDD solid 1px;
}
.ListBox .list ul li.join span{
	display: block;
	background: #44C185;
	color: #FFF;
	line-height: 35px;
	text-align: center;
	border-radius: 18px;
}
.ListBox .list ul li.info{
	padding: 0px 10px;
}
.ListBox .list ul li.info div{
	height:40px;
	line-height: 40px;
	overflow: hidden;
	color: #888;
}
.ListBox .list ul li.info div.title{
	font-size: 20px;
	font-weight: bold;
}
.ListBox .list ul li.info div.cnt span{
	color: #F90;
}
.ListBox .list ul li.info div.other i:before{
	margin-right: 3px;
}
.ListBox .list ul li.info div.other em{
	display: inline-block;
	margin-left: 10px;
}
/*****/
@media (max-width: 500px) and (min-width:401px) {
	#ListGroup{
		height:160px;
	}
	#ListGroup ul{
		height:160px;
	}
	#ListGroup ul li{
		height:160px;
		width:120px;
	}
	.Contents .lists dl dd div span{
		margin:3px;
	}
	.ListBox .list ul li.img{
		width:100px;
	}
	.ListBox .list ul li.img a{
		width:100px;
	}
	.ListBox .list ul li.join{
		width:50px;
	}
	.ListBox .list ul li.join sapn{
		line-height: 30px;
		font-size:14px;
		border-radius: 15px;
	}
	.ListBox .list ul li.info div{
		height:33px;
		line-height: 33px;
		font-size:16px;
	}
	.ListBox .list ul li.info div.title{
		font-size: 18px;
	}
}
@media (max-width: 400px) {
	#ListGroup{
		height:130px;
	}
	#ListGroup ul{
		height:130px;
	}
	#ListGroup ul li{
		height:130px;
		width:100px;
	}
	.MainAction ul a{
		line-height: 40px;
		font-size: 16px;
	}
	.Contents .lists dl dd div span{
		margin:2px;
	}
	.ListBox .list ul li.img{
		width:90px;
	}
	.ListBox .list ul li.img a{
		width:90px;
	}
	.ListBox .list ul li.join{
		width:40px;
	}
	.ListBox .list ul li.join span{
		line-height: 26px;
		font-size:14px;
		border-radius: 13px;
	}
	.ListBox .list ul li.info div{
		height:30px;
		line-height: 30px;
		font-size:14px;
	}
	.ListBox .list ul li.info div.title{
		font-size: 16px;
	}
}