
	<link rel="stylesheet" href="__STATIC__/css/wapcomment.css"> 
	<div class="WapCommentBox">
		<div class="head">
			<div class="tag">全部评论</div>
			<div class="more"><button type="butter" onclick="post_comment(0)">发表评论</button></div>
		</div>
		<div class="ListComment">
			<?php if(is_array($listdb) || $listdb instanceof \think\Collection || $listdb instanceof \think\Paginator): $i = 0; $__LIST__ = $listdb;if( count($__LIST__)==0 ) : echo "" ;else: foreach($__LIST__ as $key=>$rs): $mod = ($i % 2 );++$i;?>
				<ul class="lists" id="comment_cnt_<?php echo $rs['id']; ?>">
					<ol class="icon"><a href="<?php echo get_url('user',$rs['uid']); ?>" target="_blank"><img src="<?php echo $rs['icon']; ?>" onerror="this.src='/public/static/images/nobody.gif'"/></a></ol>
					<li class="infos">
						<div class="name"><a href="<?php echo murl('member/msg/add',['uid'=>$rs['uid']]);?>" class="_pop"><?php echo $rs['username']; ?></a></div>
						<div class="comment"><?php echo $rs['content']; ?></div>
						<dl><dt><?php echo $rs['time']; ?></dt><dd><em onclick="dingcomment(<?php echo $rs['id']; ?>)"><i class="si si-like"></i> <a class="agree<?php echo $rs['id']; ?>"><?php echo $rs['agree']; ?></a></em> <span onclick="post_comment(<?php echo $rs['id']; ?>)"><i class="fa fa-commenting-o"></i> 回复</span>
						<?php if($rs['uid']==login_user('uid')||login_user('groupid')==3): ?><span onclick="del_comment(<?php echo $rs['id']; ?>)"><i class="fa fa-close"></i> 删除</span><?php endif; ?>
						</dd></dl>
						<div class="repalyinfs repalyinfs<?php echo $rs['id']; ?>">
							<?php if(is_array($rs['children']) || $rs['children'] instanceof \think\Collection || $rs['children'] instanceof \think\Paginator): $i = 0; $__LIST__ = $rs['children'];if( count($__LIST__)==0 ) : echo "" ;else: foreach($__LIST__ as $key=>$vo): $mod = ($i % 2 );++$i;?>
							<div id="comment_cnt_<?php echo $vo['id']; ?>">
								<a href="<?php echo get_url('user',$vo['uid']); ?>" target="_blank"><?php echo $vo['username']; ?>：</a>
								<?php echo $vo['content']; ?>
								<?php if($vo['uid']==login_user('uid')||login_user('groupid')==3): ?><span onclick="del_comment(<?php echo $vo['id']; ?>)" style="float:right;"><i class="fa fa-close"></i> 删除</span><?php endif; ?>
							</div>
							<?php endforeach; endif; else: echo "" ;endif; ?>
						</div>
					</li>
				</ul>
			<?php endforeach; endif; else: echo "" ;endif; ?>
		</div>
		<div class="ShowMoreComment"><button type="butter" onclick="ShowMoreComment()">更多评论 <i class="fa fa-angle-double-down"></i></button></div>
	</div>
	

<script type="text/javascript" src="__STATIC__/libs/tncode/tn_code.js?wwf"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/libs/tncode/tn_code.css?fd"/>

<script type="text/javascript">
var comment_post_url,comment_base_url;
	comment_post_url = comment_base_url = "<?php echo fun('label@comment_api','posturl',$aid,$sysid,$cfg_array); ?>";
var repalyid=0;
var commentpage=1;

var comment_delete_url = "<?php echo purl('comment/api/delete');?>";

var needTncode = <?php echo in_array(login_user('groupid'), config('webdb.group_reply_need_tncode'))?'true':'false'; ?>;	//是否需要行为验证码
var cache_need_tncode = needTncode;
		
var comment_page_url = '<?php echo fun("label@comment_api","pageurl",$aid,$sysid,$cfg_array); ?>';
var comment_rows = parseInt("<?php echo $cfg_array['rows']; ?>");
</script>
<script type="text/javascript" src="__STATIC__/js/comment/pc.js"></script>